---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main>
<section id="team" class="team-section">
            <div class="container">
                <div class="team-grid">
                    <div class="team-member reveal">
                        <img src="/assets/team/pavel_final.webp"
                            alt="Pavel Zmunchila" loading="lazy">
                        <h3>Pavel Zmunchila</h3>
                        <p class="role">CEO</p>
                        <p class="bio">15+ years expert in show system architecture with deep insight into creative
                            needs, product-market fit, and real-world production.</p>
                    </div>
                    <div class="team-member reveal">
                        <img src="/assets/team/anton.png"
                            alt="Anton Kochnev" loading="lazy">
                        <h3>Anton Kochnev</h3>
                        <p class="role">CTO</p>
                        <p class="bio">15+ years of hands-on expertise in multimedia systems, software development and network protocols, specializing in delivering complex live shows.</p>
                    </div>
                    <div class="team-member reveal">
                        <img src="/assets/team/alina.png"
                            alt="Alina Gardamshina" loading="lazy">
                        <h3>Alina Gardamshina</h3>
                        <p class="role">COO</p>
                        <p class="bio">Operations & Product Lead with 10+ years of experience in multimedia and IT,
                            turning complex ideas into clear, executable workflows.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>
