---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="home-main">
<section id="hero" class="hero">
            <div class="hero-bg" style="background-image: url('/assets/hero-bg.png');"></div>
            <div class="hero-overlay"></div>
            <div class="container hero-content">
                <div class="professional-text reveal">
                    <h1>We are 4x10.DEV</h1>
                    <p class="subtitle">A team building an AI-powered platform for show programming.</p>
                    <div class="hero-body">
                        <p>We know the industry’s gaps, and now we’re building an ecosystem we always needed ourselves:
                            effective, flexible and accessible.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>